
/* Color style */
:root {
    --dark-color: #2c2c2c;
    --white-color: #ffffff;
    --light-text-color: #7c7c7c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 120vh;
    color: var(--light-text-color);
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  color: var(--dark-color);
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: blue;
    opacity: .8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.name {
    font-size: 32px;
    color: var(--white-color);
    font-weight: 700;
    text-decoration: none;
}

.navbarButtons a {
    position: relative;
    font-size: 18px;
    color: var(--white-color);
    font-weight: 600;
    text-decoration: none;
    margin-right: 30px;
}

.navbarButtons a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: var(--white-color);
    transition: .3s;
}

.navbarButtons a:hover::before {
    width: 100%;
}

.container {
    padding-top: 100px;
    margin-left: 25%;
    max-width: 50%;
    display: flex;
    align-items: center;
}

.intro-text {
    margin-right: 50px;
}

.me-img {
    flex: 0; 
    height: auto; 
}